doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdn.tailwindcss.com')
  body(class="flex bg-black p-0 h-screen m-0 items-center justify-center")
    block content